WEAVIATE_CONN_ID="weaviate_default"
AWS_CONN_ID="aws_default"
WEAVIATE_COLLECTION_NAME="MYDATA"
S3_BUCKET = "<YOUR-BUCKET-NAME>"
INGEST_FOLDER_NAME = "ingest_data"
STAGE_FOLDER_NAME = "stage_data"
ARCHIVE_FOLDER_NAME = "archive_data"
IMAGE_FOLDER_NAME = "image_data"
TEXT_FOLDER_NAME = "text_data"
SNOWFLAKE_CONN_ID="snowflake_default"

OPENAI_API_KEY="YOUR OPENAI API KEY"

AIRFLOW_CONN_WEAVIATE_DEFAULT='{
    "conn_type": "weaviate",
    "host": "weaviate",
    "port": "8081",
    "extra": {
        "token":"adminkey",
        "additional_headers" : {"X-Openai-Api-Key": "YOUR OPENAI API KEY"},
        "grpc_port" : "50051",
        "grpc_host" : "weaviate",
        "grpc_secure" : False, 
        "http_secure" : False
    }
}'

AIRFLOW_CONN_SNOWFLAKE_DEFAULT='{
    "conn_type":"snowflake",
    "login":"<your user>",
    "password":"<key passphrase>",
    "schema":"<your schema>",
    "extra":
        {
            "account":"<your account>",
            "warehouse":"<your warehouse>",
            "database":"<your db>",
            "region":"<your region>",
            "role":"<your role>",
            "authenticator":"snowflake",
            "session_parameters":null,
            "application":"AIRFLOW",
            "private_key_content": "-----BEGIN ENCRYPTED PRIVATE KEY-----\nxxxx\nxxxx...\n-----END ENCRYPTED PRIVATE KEY-----\n"  # replace with your key, note the \n s!
        }
    }'

# For more options: https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/connections/aws.html
AIRFLOW_CONN_AWS_DEFAULT='{
    "conn_type":"aws",
    "login":"<your_access_key_id>",
    "password":"<your_secret_key>"
}'
