INGESTION_FOLDERS_LOCAL_PATHS="include/data/"
WEAVIATE_CONN_ID="weaviate_default"
WEAVIATE_COLLECTION_NAME="MYDATA"

AIRFLOW_CONN_WEAVIATE_DEFAULT='{
    "conn_type": "weaviate",
    "host": "weaviate",
    "port": "8081",
    "extra": {
        "token":"adminkey",
        "additional_headers" : {"X-Openai-Api-Key": "YOUR OPENAI API KEY"},
        "grpc_port" : "50051",
        "grpc_host" : "weaviate",
        "grcp_secure" : False,  # !!! typo will be removed in the 2.0.0 release
        "http_secure" : False
    }
}'