# Weaviate variables
WEAVIATE_CONN_ID="weaviate_default"
WEAVIATE_COLLECTION_NAME_PRODUCT_INFO="Products"
WEAVIATE_ANALYTICS_COLLECTION_NAME="Analytics"
WEAVIATE_URL="<YOUR HOST>.gcp.weaviate.cloud"
WEAVIATE_AUTH="<YOUR WEAVIATE CLUSTER KEY>"

## Local Weaviate connection
AIRFLOW_CONN_WEAVIATE_DEFAULT='{
    "conn_type":"weaviate",
    "host":"weaviate",
    "port":"8081",
    "extra":{
        "token":"adminkey",
        "additional_headers":{"X-Openai-Api-Key":"<YOUR OPENAI API KEY>"},
        "grpc_port":"50051",
        "grpc_host":"weaviate",
        "grpc_secure":"False",
        "http_secure":"False"
    }
}'

## The Weaviate Cloud connection uses the following pattern:
# AIRFLOW_CONN_WEAVIATE_DEFAULT='{
#     "conn_type":"weaviate",
#     "host":"<YOUR HOST>.gcp.weaviate.cloud",
#     "port":"8081",
#     "extra":{
#         "token":"<YOUR WEAVIATE KEY>",
#         "additional_headers":{"X-Openai-Api-Key":"<YOUR OPENAI API KEY>"},
#         "grpc_port":"443",
#         "grpc_host":"grpc-<YOUR HOST>.gcp.weaviate.cloud",
#         "grpc_secure":"True",
#         "http_secure":"True"
#     }
# }'


# S3 variables
AWS_CONN_ID="aws_default"
S3_BUCKET="<YOUR BUCKET NAME>"
INGEST_FOLDER_NAME="ingest_data"
STAGE_FOLDER_NAME="stage_data"
ARCHIVE_FOLDER_NAME="archive_data"
IMAGE_FOLDER_NAME="image_data"
PRODUCT_INFO_FOLDER_NAME="product_info"
MOCK_SEARCH_HISTORY_FOLDER="mock_search_history"
SEARCH_HISTORY_FOLDER="search_history"

AIRFLOW_CONN_AWS_DEFAULT='{
    "conn_type":"aws",
    "login":"<YOUR AWS KEY ID>",
    "password":"<YOUR AWS SECRET KEY>"
}'

AWS_ACCESS_KEY_ID="<YOUR AWS ACCESS KEY ID>"
AWS_SECRET_ACCESS_KEY="<YOUR AWS SECRET KEY>"

# Snowflake variables
SNOWFLAKE_CONN_ID="snowflake_default"
SNOWFLAKE_DB_NAME="hybrid_search_demo"
SNOWFLAKE_SCHEMA_NAME="dev"
SNOWFLAKE_TABLE_NAME_CATEGORIZATION="search_terms"
SNOWFLAKE_TABLE_NAME_INSIGHTS="search_summary"
SNOWFLAKE_TABLE_NAME_SNEAKERS_DATA="sneakers_data"

AIRFLOW_CONN_SNOWFLAKE_DEFAULT='{
    "conn_type":"snowflake",
    "login":"<your user>",
    "password":"<key passphrase>",
    "schema":"<your schema>",
    "extra":{
        "account":"<your account>",
        "warehouse":"<your warehouse>",
        "database":"<your db>",
        "region":"<your region>",
        "role":"<your role>",
        "authenticator":"snowflake",
        "session_parameters":null,
        "application":"AIRFLOW",
        "private_key_content":"-----BEGIN ENCRYPTED PRIVATE KEY-----\nxxxx\nxxxx...\n-----END ENCRYPTED PRIVATE KEY-----\n"  # replace with your key, note the \n s!
    }
}'

# OPEN AI variables
OPENAI_API_KEY="<YOUR OPENAI API KEY>"
