# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
/usr/local/airflow/include/apache_airflow_providers_weaviate-2.0.0-py3-none-any.whl
langchain==0.1.16
